a:link {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-style: normal;
}

a:hover {
    font-size: 18px;
    color: #761592
}
.tb8 {
    width: 230px;
    border: 1px solid #3366FF;
    border-left: 4px solid #3366FF;
}
.fb9 {
    border: 1px solid #3366FF;
    background-color: #B3C6FF;
}

    .fb9:hover {
        border: 2px dotted #FF6633;
        color: #FF6600;
        font-weight: bold;
    }

.tb5 {
    border: 2px solid #456879;
    border-radius: 10px;
    height: 22px;
    width: 230px;
}
.tb11 {
    background: #FFFFFF url(RESİMLER/searchh.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 22px;
    border: 1px solid #CCCCCC;
    width: 230px;
    height: 18px;
}
.fb8 {
    border: 2px solid #777;
    border-radius: 10px;
    outline: none;
}